.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}


/* ----------HEADER START---------- */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex; 
  position: relative;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.logo {
  background-image: url(../images/logo_place_header.svg);  
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  position: absolute;
  left: 64px;
  align-self: center;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  z-index: 2;
  position: absolute;
  left: 64px;
  bottom: 30px;
}


.header__link {
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
}

.header__main-illustration {
  background-image: url("../images/header-image.png");
  background-size: cover;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}


/* ----------HEADER END---------- */

/* ----------CONTENT START---------- */

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* ----------DESCRIPTION START---------- */

.description {
  /* margin: 100px 0 0; */
  align-self: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto 0;
}

.two-columns__brief {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  margin: 0;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0; 
}

.two-columns__paragraph:first-child {
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
  margin-top: 30px;
}

.two-columns__paragraph_span-accent {
  font-weight: 700;
}

/* ----------DESCRIPTION END---------- */

/* ----------DIGITS START---------- */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 100px 0 20px;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700; 
  z-index: 1;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal; 
  margin: 0;
}

.table {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 100px;  
  align-self: center;
  width: 1100px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal; 
  margin: 20px 0 0;
}

/* ----------DIGITS END---------- */

/* ----------FEYNMAN START---------- */

.feynman {
  background-color: #f2f2f2;
  display: flex; 
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 790px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  width: 648px;
  text-align: center;
  z-index: 1;
  margin: 100px 0 70px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link_position {
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}


/* ----------FEYNMAN END---------- */

/* ----------KAUFMAN START---------- */

.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  margin: 90px 0 20px;
}

.section-subtitle_theme_dark {
  color: white;
  margin: 0;
}

.table_theme_dark {
  margin: 0 auto 90px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
 color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
}

/* ----------KAUFMAN END---------- */

/* ----------CONTENT END---------- */

/* ----------FOOTER START---------- */

.footer {
  display: flex; 
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  display: flex; 
  width: 90%;
  justify-content: space-between;
  margin: 60px auto 40px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

/* ПЕРВЫЙ БЛОК  */
.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer__autor {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* ВТОРОЙ БЛОК  */
.footer__column_content_info {

}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  margin: 0px 0 16px;
  padding: 0;
  text-decoration: none;  
  color: white;
}

.footer__column-links li a {
  text-decoration: none;  
  color: white;
}

/* ТРЕТИЙ БЛОК */

.footer__column_content_social {

}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
